*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    background-color: grey;
    position: fixed;
    right: 0;
    left: 0;
}

.welcome-note {
    font-size: 28px;
    color: #808080;
    margin-top: 100px;
}
.my-name {
    font-size: 48px;
    margin-top: 30px;
}

.full-name {
    font-size: 66px;
}

.summary {
    color: #808080;
    font-size: 40px;
}

.btn {
    padding: 16px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: #808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%; 
}

.text-logo{
    font-family: Georgia;
    font-style: italic;
    color: #f5f5f5;
}

.text-cream{
    color: #f5f5f5;
    text-decoration: none;
}

.hero{
    height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: flex-end; */
   background-image: url(../images/minenew.png);
   background-size: cover;
   background-repeat: no-repeat;
 
}

.space{
    width: 50%;
}

/* .hero-info{
    
} */

.abt{
    /* height: 100vh; */
    background-color: #808080;
    padding: 50px;
}


.about-moi{
    display: flex;
    justify-content: space-around;

    /* flex-direction: row; */
}

.abt h1{
    text-align: center;
    margin-bottom: 30px;
}

.describe {
    width: 500px;
}

.describe h2 {
    margin-bottom: 30px;
}

.services{
    background-color: #f5f5f5;
    padding: 50px;
}
.serv{
    text-align: center;
  /* padding-top: 50px; */
    margin-bottom: 50px;
}

.serv-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    gap: 25px;
}

.services-header{
    padding-bottom: 20px;
}
.srv{
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    border: solid #808080 5px;
}
.pimages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-1{
    width: 450px;
}

.img-2{
    width: 300px;
}

.img-3{
    width: 430px;
}

.portfolio{
    background-color: #808080;
    padding: 50px;
}
.portfolio h1{
    text-align: center;
   /* padding-top: 50px; */
    margin-bottom: 50px; 
}
.main-contact{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    
}
.contact{
    background-color: #f5f5f5;
    padding: 50px;
}
.contact h1{
    text-align: center;
    margin-bottom: 50px;
}
.cont-form{
    display: flex;
    flex-direction: column;
}
.cont-form [type=text-1] {
    /* width: 100%; */
    padding: 50px 58px;
    margin: 8px 0;
    box-sizing: border-box;
}
.user{
    grid-area: user;
}
.mail{
    grid-area: mail;
}
