* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
    font-style: italic;
}

nav {
    right: 0;
    left: 0;
}

.hero {
    background-image: url(../images/minenew.png);  
}

.about-moi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.abt h1 {
    color: #f5f5f5;
}

.describe {
    border-radius: 30px;
}



.serv {
    text-align: center;
    margin-bottom: 50px;
    /* color: #808080; */
}

.services-header {
    padding-bottom: 20px;
    /* color: #808080; */
}


.pimages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-1 {
    width: 480px;
}

.img-2 {
    width: 300px;
}

.img-3 {
    width: 430px;
}

.portfolio {
    background-color: #808080;
    padding: 60px;
}

.portfolio h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #f5f5f5;
}

.main-contact div {
    /* display: flex; */
    /* justify-content: justify; */
    /* align-items: center; */
    width: 100%;
    padding: 15px;
    color: #444343;
    /* padding-left: 200px; */
}
.fa {
    margin-right: 20px;
}

.user {
    padding: 10px 25px 25px 100px;
}

.sub {
    width: 70%;
    padding: 5px 22px 15px 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 

  
       
       
       
        
       