*reset{
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    background-color: grey;
    position: fixed;
    right: 0;
    left: 0;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%; 
}

.text-logo{
    font-family: Georgia;
    font-style: italic;
}


.hero{
    height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: flex-end; */
   background-image: url(../images/minenew.png);
   background-size: cover;
   background-repeat: no-repeat;

    
}

.space{
    width: 50%;
}

.hero-info{
    
}

.about-moi{
    /* height: 100vh; */
    background-color: #808080;
    
}

.about-moi h1{
    text-align: center;
}

.about-moi img{
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 30px;
   

}

.describe h1{
    display: flex;
    flex-direction: row;
    text-align: right;

}